#ifndef UCE_SET_CURRENT_REQUEST_DEFINED
#define UCE_SET_CURRENT_REQUEST_DEFINED

/*load_declarations*/

extern "C" void __uce_set_current_request(Request* _request)
{
	context = _request;
	/*load_units*/
}

#endif
