[Unit]
Description=UCE FastCGI Server

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/opt/uce/bin/uce_fastcgi.linux.bin
Restart=on-failure
RestartSec=10
KillMode=mixed

[Install]
WantedBy=multi-user.target
